@charset "UTF-8";

/*Fonte Bebas*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Fonte VT323*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/*Fonte PressStart2P*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face{

    font-family: 'Retro-Gaming';
    src: url('../fonts/Retro\ Gaming.ttf') format('opentype');
    font-weight: normal;    

}

:root{
    --cor: #c5ebd641;
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --corlogo1: #3264A6;
    --corlogo2: #93D94E;
    --corlogo3: #F2E635;
    --corlogo4: #F2D4AE;
    --corlogo5: #D96A29;

    --corfundo: #0095e9; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-subtitle: 'Bebas Neue', cursive;
    --fonte-pixel1: 'VT323', monospace;
    --fonte-pixel2: 'Press Start 2P', cursive;
    --fonte-pixel3: 'Retro-Gaming', cursive;
}

*{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
}
body{
    background-image: url("../img/Asa\ Branca\ Site.png");
    background-position: center ;
    background-repeat: repeat-x ;
    background-size: contain;
    background-attachment: fixed;
}
body.home{
    background-color: var(--cor0);
}
body.artigos{
    background-color: var(--cor1);
}
body.sobre{
    background-color: var(--cor2);
}
body.jogos{
    background-color: var(--cor3);
}
body.copy{
    background-color: var(--cor4);
}

nav{
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
    width: 500px;
}
nav > a{
    color: var(--corlogo1);
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: var(--cor3);
}
nav.conteudo{
    display: table;
    width: 500px;
}
nav > picture.imagem{
    display: table-cell;
    float: left;
}
nav > a.texto{
    margin-top: 15px;
    display: inline-table;
    float: center;
    padding: 10px 20px 10px 20px;
    text-indent: none;

}

main{
    margin: 0 auto;
    width: 500px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
}



section.apresentacao{
    margin-top: 25px;
    background-color:var(--cor0);
    background-image: url("../img/bannerg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    padding: 100px 50px;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
}
section.projetos{
    margin-top: 25px;
    background-color:var(--cor);
    padding: 25px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
}
section.sobre{
    margin-top: 25px;
    background-color:var(--cor);
    padding: 25px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
}
section.sobre > p{
    text-indent: 25px;
    text-align: justify;
}
section.artigos{
    margin-top: 25px;
    background-color:var(--cor);
    padding: 25px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
}
section.artigos > p{
    text-indent: 25px;
    text-align: justify;
}
section > h1{
    text-align: center;   
}
ul{
    list-style-type: none;
}
.conteudo{
    display: table;
}
ul > div.conteudo > picture.imagem{
    display: table-cell;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
ul > div.conteudo > li.texto{
    display: table-cell;
    float: left;
    width: 200px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;

}
div.conteudo>picture.imagem{
    display: table-cell;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}
div.conteudo>p.text{
    display: table-cell;
    float: left;
    width: 200px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    text-indent: 30px;
    text-align: justify;
}

footer{
    margin-top: 25px;
    background-color: var(--cor1);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
    color: var(--corlogo1);
    text-align: center;
    font-weight: bold;
    padding: 10px;    
}
footer > p{
    text-align: left;
}
