@charset "UTF-8";

/*Fonte Bebas*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*Fonte VT323*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/*Fonte PressStart2P*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face{

    font-family: 'Retro-Gaming';
    src: url('../fonts/Retro\ Gaming.ttf') format('opentype');
    font-weight: normal;    

}


:root{

    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
    --corlogo1: #3264A6;
    --corlogo2: #93D94E;
    --corlogo3: #F2E635;
    --corlogo4: #F2D4AE;
    --corlogo5: #D96A29;

    --corfundo: #0095e9; 

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-subtitle: 'Bebas Neue', cursive;
    --fonte-pixel1: 'VT323', monospace;
    --fonte-pixel2: 'Press Start 2P', cursive;
    --fonte-pixel3: 'Retro-Gaming', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: var(--cor5);
}
abbr{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

body{
    background-color: var(--corfundo);
    background-image: url("../img/Asa\ Branca\ Site.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
}

nav{
    margin: auto;
    max-width: 500px;
    /*background-color: var(--cor5);*/
    padding: 10px 0px;
    text-align: center;
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: var(--cor3);
}

section{
    margin: auto;
    max-width: 500px;
    min-height: 200px;
}
section>p{
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    font-family: var(--fonte-pixel1);
}
section>h1{
    padding: 10px;
    text-align: center;
    text-indent: 20px;
    font-family: var(--fonte-pixel3);
}
section>h2{
    text-indent: 30px;
    font-family: var(--fonte-pixel2);

}
section.apresentacao{
    background-color:rgba(255, 255, 255, 0);
    background-image: url("../img/bannerp.png");
}
section.jogos{
    background-color: rgba(255, 255, 255, 0);
}
section.sobre{
    background-color: rgba(255, 255, 255, 0);
}
section.artigo{
    background-color: rgba(255, 255, 255, 0);
}
footer{
    background-color: var(--corlogo1);
    color: var(--cor1);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    
}